<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>doesnt matter</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}" type="text/css"/>
</head>

<body>

<div th:fragment="topNavigation(currentlocation)" class="navcontainer">
    <div class="navitem navtitle">Spaceship Application!!!!</div>
    <div class="navitem navlocation" th:insert="${currentlocation}">Location... this html is not going be seen</div>
    <div class="navitem"><a th:href="@{/spaceship/}">Overview</a></div>
    <div class="navitem"><a th:href="@{/spaceship/new}">Create Spaceship</a></div>
</div>

</body>