
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.item{
    padding: 20px;
    background: rgb(50,20,100);
    color: white;
}

.shipname{
    font-weight: bold;
    font-size: large;
}

.spaceshipfields{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}

a{
    color: rgb(255,255,255);
}