<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spaceships - Create new!</title>
    <link rel="stylesheet" th:href="@{/css/newspaceship.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/navigation.css}" type="text/css"/>
</head>

<body>
<div th:replace="fragments/navigation.html :: topNavigation(~{ :: .mylocation})">
    ADSkjadsfl jdasfædasfjkæ adsfj adsfj dsafæjkdasfljæ
    <div class="mylocation">
        Create a brand new spaceship! :-)
    </div>
</div>

<div>
    <h1>Create new spaceship</h1>
    <form action="#" th:action="@{/spaceship/new}" th:object="${spaceship}" method="post">
        <div class="formcontainer">
            <div class="item item-key">Name</div>
            <div class="item item-input"><input type="text" th:field="*{name}" id="name" placeholder="Name of the spacecraft"></div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="item fieldinvalid">No errors</div>
        </div>
        <div class="formcontainer">
            <div class="item item-key">Number of crewmembers</div>
            <div class="item item-input"><input type="number" th:field="*{crew}" id="crew" placeholder="Number of crewmembers"></div>
            <div th:if="${#fields.hasErrors('crew')}" th:errors="*{crew}" class="item fieldinvalid">Crew errors</div>
        </div>
        <div>
            <input type="submit" value="Create Spaceship">
        </div>
    </form>
</div>
</body>